<%- include("partials/header"); -%>
      <div class="container">
            <h1>Home</h1>
            <p>
                  <%= startingContent %>
            </p>

            <% posts.forEach(function(post){ %>
                  <h2>
                        <%=post.title%>
                  </h2>
                  <p>
                        <%=post.content%>
                              <a href="/posts/<%=post._id%>">Read More</a>
                  </p>
                  <% }); %>
      </div>
      <!-- <%- include("partials/footer"); -%> -->